div p{
    font-size:xx-large;
     padding-top:200px;
     padding-right:300px;
     padding-left:600px; 
     color:rgb(21, 211, 236) ;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
     
 }