div p{
    font-size:xx-large;
    padding-top:200px;
    padding-right: 500px;
    padding-left:660px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}
